.notification {
    color: white;
    text-decoration: none;
    padding: 15px 15px;
    margin: 0px 10px;
    position: relative;
    display: inline-block;
    border-radius: 2px;
    
  }
  
  /* .notification:hover {
    background: green;
  } */
  .notification> img{
      height: 20px;
  }
  
  .notification .badge {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 5px ;
    border-radius: 50%;
    background: #00A5EA;
    color: white;
  }