.search{
    background: #F5F8FB;
    display: flex;
    padding-left: 5px;
    height: 40px;
    border-radius: 10px;
    align-items: center;
    width: 40%;
}
.search__icon{
    height: 50%;
   

}

.search__form{
    height: 100%;
    width: 100%;
}

.search__form__input{
    height: 100%;
    width: 100%;
    background: #F5F8FB;
    border-style: none;
    border-radius: 10px;

}
